body {
  padding: 0;
  margin: 0;
}

.video-container {
  width: 100%;
  position: relative;
  margin-top: 126%;
  @media (min-width: 768px) {
  margin-top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  }
}

.booking-video {
  width: 100vh;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 4rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  @media (min-width: 768px) {
  position: fixed;
  }
}

.booking-wrapper {
  background-color: rgba(119, 115, 115, 0.5);
  margin-top: -126%;
  color: #000000;
  height: 400px;
  text-align: center;
  margin-left: -6%;
  @media (min-width: 768px) {
    position: absolute;
    left: 35%;
    width: 100%;
    height: 500px;
    max-width: 600px;
    margin-top: 5rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  }
}

// button {
//   width: 50%;
//   padding: 5px;
//   box-sizing: border-box;
//   border: none;
//   border-radius: 5px;
//   font-size: 1.2rem;
//   background-color: #4caf50;
//   color: white;
//   cursor: pointer;
// }
