$primary-color: #172734;
$secondary-color: #c0c0c0;
$tertiary-color: #e6cb45;
$tertiary-color-dark: #a7932b;
$dark-color: #242424;
$light-color: #ffffff;

$backgorund-color: #000000;
$title-color: #ddd9e3;
$text-color: #766969;
