.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 50%, 600px);
    gap: 10px;

    &__input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.2rem;
    }

    &__button {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      background-color: #4caf50;
      color: white;
      cursor: pointer;
    }
  }
}
